@model HotelAtr.DAL.Model.Room
    @{
        ViewBag.Title = "AddRoom";
    }
<h2>AddRoom</h2>
@using (Html.BeginForm())
{
    @*@Html.ValidationSummary()*@
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Тип комнаты</label>
                <div>
                    @Html.DropDownListFor(f=>Model.RoomTypeId, (List<SelectListItem>)ViewBag.RoomTypeList, new {@class= "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Площадь</label>
                <div>
                    @Html.HiddenFor(f => Model.RoomId)
                    @Html.TextBoxFor(f => Model.Square, new {@class = "form-control"})
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Макс. кол</label>
                <div>
                    @Html.TextBoxFor(f => Model.MaxPersons, new {@class = "form-control", @type = "number"})
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Wifi</label>
                <div>
                    @Html.CheckBoxFor(f => Model.IsFreeWifi, new {@class = "form-control"})
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Балкон</label>
                <div>
                    @Html.CheckBoxFor(f => Model.IsPrivateBalcony, new {@class = "form-control"})
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">AC</label>
                <div>
                    @Html.CheckBoxFor(f => Model.IsFullAC, new {@class = "form-control"})
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Этаж</label>
                <div>
                    @Html.TextBoxFor(f => Model.Floor, new {@class = "form-control", @type = "number"})
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">TV</label>
                <div>
                    @Html.CheckBoxFor(f => Model.HasTV, new {@class = "form-control"})
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Вид на море</label>
                <div>
                    @Html.CheckBoxFor(f => Model.IsBeachView, new { @class = "form-control"})
                </div>
            </div>

            @if (Model == null)
                {
                <button name="action" value="add" class="btn btn-success" type="submit">Добавить</button>
            }
            else
            {
                <button name="action" value="save" class="btn btn-success" type="submit">Сохранить</button>
            }


            
        </div>
    </div>
}