@using HotelAtr.DAL.Model
@model List<Room>
@{
    ViewBag.Title = "Index";
}

<h2>Список комнат</h2>
@using (Html.BeginForm("AddRoom", "Room"))
{
    <button class="btn btn-primary" type="submit">Добавить</button>
}
<table class="table table-hover">
    <thead>
        <tr>
            <th>Номер комнаты</th>
            <th>Тип комнаты</th>
            <th>Площадь</th>
            <th>Кол-во человек</th>
            <th>Этаж</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Room room in Model)
        {
            <tr>
                <td>                    
                    <a href="@Url.Action("AddRoom", "Room", new {roomId = room.RoomId})">@room.RoomId</a>

                    <span class="badge
                       @if (room.IsFreeWifi != null && (bool) room.IsFreeWifi)
                       {<text>badge-success</text>}
                       else
                       {<text>badge-danger</text>}">WiFi</span>
                </td>
                <td>@room.RoomType.Name</td>
                <td>@room.Square</td>
                <td>@room.MaxPersons</td>
                <td>@room.Floor</td>
                <td>

                    <a href="@Url.Action("Delete","Room",new {roomId = room.RoomId})">Delete</a>
                 
                </td>
            </tr>
        }
    </tbody>
</table>
